nav {
    background: rgba(0, 0, 0, .25);
    width: max-content;
    padding: 0.5rem 1.2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: .75rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 1rem;
    backdrop-filter: blur(2px);
    transition: 1s ease all;
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    transition: var(--transition);
    
}

nav:hover {
    background: rgba(0, 0, 0, .7);
    gap: 1rem;
    padding: 0.5rem 1.3rem;
    bottom: 1rem;

}

nav a:hover {
    color: white;
    transition: var(--transition);
    bottom: .5rem;
}

nav a.active {
    color: white;
    transition: var(--transition);
}

/* Media queries */

/* Medium devices */

@media screen and (max-width: 1024px) {    
    /* nav {
        display: block;
        top: 5%;
        height: max-content;
        left: 5%;

        background: rgba(0, 0, 0, 0.5);
        padding: 1px;
    }
    nav a {
        text-shadow: 0 0 10px rgb(194, 35, 7);
        padding: 10px 8px 10px 8px;
    } */
}

/* Small devices */

@media screen and (max-width: 600px) {    
    nav {
        display: block;
        top: 33%;
        height: max-content;
        left: 6.5%;

        background: rgba(0, 0, 0, 0.5);
        padding: 1px;
    }
    nav a {
        text-shadow: 0 0 10px rgb(194, 35, 7);
        padding: 10px 8px 10px 8px;
    }

    nav:hover {
        padding: inherit;
        background: rgba(0, 0, 0, 0.5);
    }
}